<<<<<<< HEAD
=======
/* General Typography */
.heading-text {
    width: 765px;
    height: 32px;
    color: #1D1B20;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 40px;
    word-wrap: break-word;
  }
  
  .ewallet-balance-container {
    width: 227px;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
  }
  
  .ewallet-balance {
    color: black;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  .reload-button {
    width: 154px;
    height: 43px;
    padding: 12px;
    background: #007AFF;
    border-radius: 8px;
    border: 1px solid #2C2C2C;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
  }
  
  .reload-text {
    color: white;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
  }
  
>>>>>>> 5fa408211e755f226ca3154434f846081afbc4cf
.headline
{
position:absolute;
color:#1d1b20;
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Roboto;
line-height:40px;
border-style:hidden;
outline:none;
width:765px;
}

.passbalance:rm10
{
background-color:#ffffff;
height:65px;
width:227px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:relative;
}

.button2
{
color:#ffffff;
text-align:right;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
align-self:flex-start;
left:31.5px;
top:13.5px;
position:absolute;
line-height:100px;
border-style:hidden;
outline:none;
width:91px;
display:flex;
}

.arrowupsquarecontained
{
background-color:#ffffff;
height:172px;
width:175px;
transform:rotate(-90deg);
padding:0px;
border-style:hidden;
outline:none;
left:371px;
top:241px;
position:absolute;
}

.sun
{
background-color:#ffffff;
height:134px;
width:135px;
padding:0px;
border-style:hidden;
outline:none;
left:461px;
top:260px;
position:absolute;
}


.calendar
{
background-color:#ffffff;
height:151px;
width:184px;
padding:0px;
border-style:hidden;
outline:none;
left:677px;
top:248px;
position:absolute;
}


.group16
{
width:192px;
height:166px;
position:absolute;
}


.rectangle1
{
background-color:#d9d9d9;
height:166px;
width:192px;
}

.one-wayticketrm3
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:100px;
border-style:hidden;
outline:none;
width:137px;
}

.button
{
background-color:#2c2c2c;
height:37.094970703125px;
width:92px;
border-radius:8px;
padding:12px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
position:relative;
}


.group6
{
width:192px;
height:166px;
position:absolute;
}

.group11
{
width:657px;
height:25px;
}

.bestfor1-waytrips
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:100px;
border-style:hidden;
outline:none;
width:174px;
}

.bestforfrequenttrips
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:100px;
border-style:hidden;
outline:none;
width:174px;
}

.bestfor2-waytrips
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:100px;
border-style:hidden;
outline:none;
width:174px;
}
