<div class="header">
  <div class="text-column">
    <div class="headline-supporting-text">
      <div class="headline">Travel Smart, Save Big.</div>
      <div class="supporting-text">
        A breakdown of your different route recommendations and their cost.
        #WeSetelForYou
      </div>
    </div>
  </div>
</div>

<img class="image" src="image.png" />

<div class="button">
  <div class="state-layer">
    <div class="label-text">A. Private Transport</div>
  </div>
</div>






<div class="supporting-text">
    *Costs are estimates based on statistical data and may vary due to real-time
    factors.
  </div>