<div class="header">
  <div class="text-column">
    <div class="headline-supporting-text">
      <div class="headline">Travel Smart, Save Big.</div>
      <div class="supporting-text">
        A breakdown of your different route recommendations and their cost.
        #WeSetelForYou
      </div>
    </div>
  </div>
</div>

#Private Transport
<img class="image" src="image.png" />

<div style="width: 240px; height: 134px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
  <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 8px; overflow: hidden; border: 1px #D9D9D9 solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="flex: 1 1 0"><span style="color: #1E1E1E; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 22.40px; word-wrap: break-word">Total Cost: RM 15<br/></span><span style="color: #1E1E1E; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Fuel: RM 2<br/>Toll: RM <br/>Parking: RM<br/>Time: 30 minutes</span></div>
    <div style="width: 6.63px; height: 6.63px; border: 1px #B3B3B3 solid"></div>
  </div>
</div>


<div class="button">
  <div class="state-layer">
    <div class="label-text">A. Private Transport</div>
  </div>
</div>

#Public Transport
<div style="width: 191px; height: 175px; position: relative; border-radius: 28px; overflow: hidden; border: 1px black solid; background-image: url(https://via.placeholder.com/191x175)">
  <div style="width: 130px; height: 21px; left: 61px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex"></div>
  <img style="width: 132px; height: 33px; left: 61px; top: 0px; position: absolute; border-radius: 28px" src="https://via.placeholder.com/132x33" />
</div>

<div style="width: 170px; height: 40px; background: #007AFF; border-radius: 100px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
  <div style="align-self: stretch; flex: 1 1 0; padding-left: 24px; padding-right: 24px; padding-top: 10px; padding-bottom: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
    <div style="text-align: center; color: white; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 20px; letter-spacing: 0.10px; word-wrap: break-word">B. Public Transport</div>
  </div>
</div>

<div style="width: 240px; height: 80px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
  <div style="width: 240px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 8px; overflow: hidden; border: 1px #D9D9D9 solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="flex: 1 1 0"><span style="color: #1E1E1E; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 22.40px; word-wrap: break-word">Total Cost: RM 6<br/></span><span style="color: #1E1E1E; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Daily Travel Pass: RM 6</span></div>
    <div style="width: 6.63px; height: 6.63px; border: 1px #B3B3B3 solid"></div>
  </div>
</div>

<div class="supporting-text">
    *Costs are estimates based on statistical data and may vary due to real-time
    factors.
  </div>